.burger-menu{
    display: flex;
    flex-direction: column;
}

.bar{
    background: var(--accent);
    margin:3px;
    width:30px;
    height: 5px;
    border-radius: 2.5px;
}

.x-menu{
    position: relative;
    width:33px;
    height: 33px;
    /* display: flex;
    flex-direction: column; */
}

.x-menu .x-part{
    position: absolute;
    top:13px;
}

.x-menu .x-2{
    transform: rotate(45deg);
   
}

.x-menu .x-1{
    transform: rotate(-45deg);
} 

.main-menu-wrapper{
    position: relative;
}

.main-menu-content{
    position: absolute;
    right: 0;
    top:10px;
    text-align: center;
}

.main-menu-content .tron-button{
    width: max-content;
    margin-left: auto;
}