*{
    margin: 0px;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --base:rgb(180, 180, 180);
    --ground:rgb(46, 46, 46);
    --ground-alt:rgb(46, 46, 46);
    --accent:rgb(42, 173, 235);
    --accent-alt:rgb(204, 160, 33);
}
body{
    margin: 0px;
    background:var(--ground);
    color:var(--base);
}

input{
    background:var(--ground);
    padding:10px;
    color: var(--base);
}

.header-wrapper{
    /* background-image: linear-gradient(rgb(51, 80, 143),rgb(87, 133, 233)); */
    border-bottom: 2px solid var(--base);
    width: 90vw;
    height: max(10vh,30px);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.right{
    margin-left: auto;
}

.title{
    color:var(--accent);
    font-size: 1.7rem;
    font-weight: 800;
    cursor: pointer;
}

.background{
    width:100vw;
}



.app-body{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}



.footer{
    margin: 10px;
    text-align: center;
    font-size: xx-small;
}

.spacer{
    height: 100px;
}

.render-prop-demo textarea{
    resize: none;
    box-shadow: none;
    background:var(--ground);
    color:var(--base)
}

.render-prop-item{
    color:var(--accent-alt);
    display: inline;
    margin:5px;
}

select{
    background: var(--ground);
    color: var(--base);
    border-radius: 15px;
    padding: 5px;
}

.inline{
    display: inline;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.edit-item{
    width:45%;
}

.edit-item .tron-button{
    display: inline;
}

.stress-test{
    display: flex;
    flex-wrap: wrap;
}
.stress-test>div{
    background-color: greenyellow;
    margin-left: 1px;
    margin-top: 1px;
    width: 1px;
    height: 1px;
}


.base-color{
    color:var(--base);
}

.ground-color{
    color:var(--ground);
}

.ground-alt-color{
    color:var(--ground-alt);
}

.accent-color{
    color:var(--accent);
}

.accent-alt-color{
    color:var(--accent-alt);
}





