.banner{
    text-align: center;
    position: fixed;
    width: 100vw;
    z-index: 100;
    backdrop-filter: blur(2px);
    white-space: nowrap;
}

.banner h1.banner-option {
    display: inline-block;
    margin-bottom: 10px;
}

.banner .banner-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid var(--white);
    margin-left: 30px;
    margin-right: 30px;
}

.banner .sub-option,
.banner .banner-option{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 700ms;
    position: relative;
}

.banner .sub-option:hover,
.banner .banner-option:hover{
    background: var(--white);
    color:var(--grey)
}

.banner .banner-option:hover .sub-option-wrapper{
    display: block;
}

.banner .sub-option-wrapper{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white)
}

.banner .info-card.sub-options{
    min-width: fit-content;
    animation-duration: 700ms;
    background: hsla(0, 0%, 30%, 0.5);
}

