.info-card{
    max-width: 50%;
    position: relative;
    display: inline-block;
    letter-spacing: 3px;
    margin: 0 auto;
    animation: fade-in 2.5s forwards ease-out;
}

.info-card.big{
    max-width: 90%;
}

.info-card,.info-card-inner{
    backdrop-filter: blur(5px);
    background: hsla(0, 0%, 47%, 0.103);
    padding:10px;
}


@keyframes fade-in{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}