:root{
    --white: hsl(0, 18%, 93%);
    --grey: hsl(0,0%,10%);

    --grey2: hsl(0, 0%, 29%);
    /* old stuff */
    --base:rgb(180, 180, 180);
    --ground:rgb(46, 46, 46);
    --ground-alt:rgb(46, 46, 46);
    --accent:rgb(42, 173, 235);
    --accent-alt:rgb(204, 160, 33);
}

body{
    background: var(--grey);
    overflow: hidden;
    color:var(--white);
    font-family: "Century Gothic", sans-serif;
    letter-spacing: 8px;
    font-weight: 100;
}

.page{
    text-align: center;
}

h1, h2, h3 ,h4{
    font-weight: 100;
}

.background-container, .for-ground-container{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.background-container{
    background: linear-gradient(to bottom right ,var(--grey), var(--grey2));
}

.background-container .inner{
    margin:5vw;
    height: calc(100vh -  10vw);
    background: linear-gradient(to top left ,var(--grey), var(--grey2));  
}

.for-ground-container{
    z-index: 100;
    overflow: scroll;
}